*{
	padding: 0;
	margin: 0;
}
a,h1,h2,h3,h4,h5,h6,nav,ul,li,header,footer,section,span{
	background: transparent;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border:0;
	outline: 0;
	vertical-align: top;
}
body{
	background: url(images/body-bg.jpg) no-repeat 50% 0 #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #333;
	position: relative;
	min-width: 900px;
}
h1,h2,h3,h4,h5,h6{
	color: #333;
	padding: 0 0 12px 0;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	letter-spacing: -1px;
	text-transform: uppercase;
}
h1{
	font-size: 36px;
	line-height: 42px;
}
h3{
	font-size: 24px;
	line-height: 30px;
}
h5{
	font-size: 18px;
	line-height: 22px;
}
a{
	color: #0043e4;
	text-decoration: none;
	cursor: pointer;
}
nav{
	float: right;
	padding: 16px 35px 0 0;
	display: block;
}
ul{
	list-style: none;
}
header,footer,section,span{
	display: block;
}
header{
	position: relative;
	z-index: 2;
	width: 940px;
	margin: 0 auto;
	padding: 25px 0 12px;
}
.main-indent{
	padding: 50px 0;
}
.main{
	margin: 0 auto;
	position: relative;
	width: 960px;
	background: url(images/main-bg.png);
	border-radius: 4px;
	padding: 0 0 10px 0;
}
.main .logo{
	float: left;
	padding: 0 !important;
	margin: 0 0 0 40px;
}
.main .logo a{
	position: relative;
	background: url(images/logo.png) no-repeat 0 0;
	height: 49px;
	width: 203px;
	overflow: hidden;
	text-indent: -99em;
	display: block;
}
.main .title{
	min-height: 36px;
	padding: 0;
	margin: 0;
}
.main .title li.current,
.main .title li:hover{
	text-decoration: none;
}
.main .title > li{
	position: relative;
	float: left;
	margin: 0 3px;
}
.main .title li a{
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #333;
	padding: 7px 8px;
}
.main .title li a:hover{
	background: #333;
	color: #fff;
}
.main .title li.current a{
	color: #fff;
	text-decoration: none;
	background: #333;
}
.main .clear{
	clear: both;
	width: 100%;
}
.main .panner{
	width: 940px;
	height: 392px; 
	margin-top: 10px;
}
.main .panner .imges{
	width: 100%;
	height: 100%;
}
.main .panner .imges li{
	position: absolute;
}
.main .panner .imges li .banner{
	position: absolute;
	left: 35px;
	right: 35px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	z-index: 99 !important;
	top: auto !important;
	padding: 0;
	bottom: 40px !important;
	text-align: center;
	font-size: 50px;
	line-height: 60px;
	text-transform: uppercase;
}
.main .panner .imges li .banner b{
	color: #ead909;
}
.main .panner .imges li .banner .row-1{
	font-size: 40px;
}
.main .panner .imges li .banner .row-1 b{
	font-weight: normal;
}
.main .panner .imges li .banner .row-2{
	font-size: 60px;
	line-height: 90px;
	margin: -5px 0 0 0;
	font-weight: bold;
}
.main .panner .panner-pice{
	position: absolute;
	top: 310px;
	left: 35px;
	width: 870px;
	height: 145px;
}
.main .panner .panner-pice .pre,
.main .panner .panner-pice .next{
	position: absolute;
	width: 30px;
	height: 60px;
	bottom: 35px;
	z-index: 999;
}
.main .panner .panner-pice .pre{
	background: url(images/mp-prev.png);
	left: 0px;
}
.main .panner .panner-pice .next{
	right: 0px;
	background: url(images/mp-next.png);
}
.main .panner .panner-pice .pre:hover,
.main .panner .panner-pice .next:hover{
	opacity: 0.8;
	cursor: pointer;
}
.main .all-content{
	height: 600px;
	margin: 5px;
}
.main .all-content .content-up{
	width: 100%;
	height: 220px;
}
.main .all-content .content-up .img-page2{
	margin: 0 20px 0 36px;
	height: 180px;
	width: 273px;
}
.main .all-content .content-up .img-page2,
.main .all-content .content-up .extra-content{
	float: left;
}
.main .all-content .content-up .img-page2 img{
	border: 1px solid #d9d9d9;
	padding: 3px;
	background: #fff;
}
.main .all-content .content-up .extra-content{
	width: 621px;
}
.main .all-content .content-up .extra-content .p1,
.main .all-content .content-up .extra-content .p2{
	padding-bottom: 14px;
}
.main .all-content .content-down{
	background: #fff;
	padding: 22px 36px 25px 36px;
	margin: 0;
	height: 332px;
}
.main .all-content .content-down .wrap{
	position: relative;
}
.main .all-content .content-down .wrap .clos-left{
	float: left;
	width: 260px;
	margin: 0 36px 0 0;
}
.main .all-content .content-down .wrap .clos-left .left-content{
	position: relative;
	width: 260px;
	height: 290px;
}
.main .all-content .content-down .wrap .clos-left .left-content .quote{
	padding: 0 0 20px 40px;
	background: url(images/quotes.png) no-repeat 0 8px;
}
.main .all-content .content-down .wrap .clos-left .left-content .quote .p3{
	padding-bottom: 20px; 
}
.main .all-content .content-down .wrap .clos-right{
	float: left;
	width: 568px;
}
.main .all-content .content-down .wrap .clos-right .col-boat{
	width: 268px;
	float: left;
	margin: 0 32px 0 0;
}
.main .all-content .content-down .wrap .clos-right img{
	border: 1px solid #d9d9d9;
	padding: 3px;
	background: #fff;
}
.main .all-content .content-down .wrap .clos-right .two{
	margin: 0;
}
footer{
	height: 131px;
	width: 950px;
	margin: 0 auto;
	background: #000;
}
footer a{
	color: #fff;
}
footer .copy{
	height: 50px;
	width: 877px;
	margin: 0 auto;
	padding-top: 20px; 
	color: rgba(255,255,255,.4);
}
.social-list{
	float: right;
	padding-right: 20px;
}
.social-list li{
	float: left;
	padding-left: 10px;
}